body.normal {
    margin: 0;
    background-color: #ddd;
    overflow-x: hidden;
}

p, a, h1, h2, address {
    font-family: 'Segoe UI';
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    height: 26px;
    padding: 16px 14px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #327fac;
    color: white;
}

.topnav a.cartbtn {
    float: right;
}

.topnav a.cartbtn img {
    height: 27px;
}

.topnav a.logo {
    background-color: #777;
}

.topnav a.logo:hover {
    background-color: #777;
}

.topnav a.logo img {
    height: 27px;
    overflow: hidden;
    background-color: #777;
}

.topnav a.loginbtn {
    float: right;
}

.welcome {
    position: relative;
    background:url(../imgs/bg3.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px;
}

.welcome-txt {
    text-align: center;
    color: #f2f2f2;
}

.welcome-btn {
    width: 150px;
    height: 40px;
    background: #444;
    color: #f2f2f2;;
    border: none;
    border-radius: 3px;
    transition: .3s linear;
}

.welcome-btn:hover {
    background: #555;
    cursor: pointer;
}

.about {
    padding: 40px 15% 100px;
}

.featured {
    background-color: #cdcdcd;
    padding: 50px 0 100px;
}

.featured h1 {
    text-align: center;
    margin: 0 0 0;
}

.featured p {
    text-align: center;
    margin: 0 0 0;
}

.featured table {
    margin-left: auto;
    margin-right: auto;
}

.featured-item {
    padding: 0 50px 0;
    height: 330px;
    white-space: nowrap;
    position:relative;
}

.featured-item img{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border: 1px solid #0e0c0c;
    border-radius: 3px;
}

.featured-item img:hover{
    cursor: pointer;
}

.featured-item img:hover{
    transform: scale(1.05);
    transition: .1s linear;
}

.featured-item p{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact {
    background: #333;
    padding: 55px 30px;
    height: 210px;
    margin: 0;
    color: #f2f2f2;
}

.contact img.logo {
    padding: 0 0 30px;
    height: 50px;
}

.contact address {
    padding: 0 0 0;
    margin: 0 0 0;
}

.contact p.email {
    padding: 0 0 0;
    margin: 0 0 0;
}

.contact img.icon {
    width: 14px;
}

.contact .left {
    float: left;
    width: 50%;
}

.contact .right {
    float: right;
}

.contact .footnav {
    padding-bottom: 25px;
}

.contact .footnav a {
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    padding-bottom: 3px;
}

.contact .footnav a:hover {
    text-decoration: underline;
}

.contact img.social {
    height: 40px;
    padding: 0 5px;
}

/* Shop things */
.shopmain {
    padding: 0;
    margin: 0;
    border: 0;
    white-space: nowrap;
    display: inline-flex;
    min-height: 1000px;
}

.shop {
    display: inline;
    vertical-align:top;
    margin: 0;
    padding: 0;
}

.shopform {
    float: left;
}

.shop-item {
    height: 250px;
    width: 260px;
    float: left;
    padding-top: 30px;
}

.shop-item img {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border: 1px solid #0e0c0c;
    border-radius: 3px;
    display: table;
    margin: 0 auto;
}

.shop-item img:hover {
    transform: scale(1.05);
    transition: .1s linear;
}

.shop-item p {
    text-align: center;
}

.shop-btn {
    width: 80px;
    height: 30px;
    background: #444;
    color: #f2f2f2;;
    border: none;
    border-radius: 3px;
    transition: .3s linear;
    display: table;
    margin: 0 auto;
}

.shop-btn:hover {
    background: #555;
    cursor: pointer;
}

.sidenav {
    width: 250px;
    top: 0;
    left: 0;
    position: relative;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    margin: 0;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
}

.sidenav a {
    padding: 8px 8px 0px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #111;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    margin-left: 50px;
}

.sidenav .closebtn img {
    width: 25px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* ~Shop things~ */